<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width= , initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
<header>
  <h1>sisinfo</h1>
  <h2>pagina de prueba para sistema de información en salud</h2>
  <ul>
    <li><a href="inicio.html">Inicio</a></li>
    <li><a href="unaseccion.html">Una Sección</a></li>
    <li><a href="otraseccion.html">Otra Sección</a></li>
  </ul>
</header>
</body>
</html>