<!DOCTYPE html>
<html lang="en">
      <head>

        <meta charset="UTF-8">
        <title>footer</title>

        <link rel="stylesheet" href="footer.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

      </head>

  <body>

    <footer>

      <div class="container-footer-all">

        <div class="container-body">

          <!--Columna 1, infomación de la compañia -->

            <div class="Colum1">
                <h1> Más información de la compañia</h1>

                  <p>Esta compañia se dedica a la creación<br>
                  de sistemas de información para las <br>
                  empresas del área de la salud.</p>
            </div>

          <!--Columna 2, redes sociales, 3 filas-->

            <div class="colum2">

                <h1>Redes Sociales</h1>

                  <div class="row">
                    <img src="../../media/fb_ico.jpg">
                    <label>siguenos en facebook</label>
                  </div>

                  <div class="row">
                    <img src="../../media/tt_ico.png">
                    <label>siguenos en twitter</label>
                  </div>

                  <div class="row">
                    <img src="../../media/wt_ico.jpg">
                    <label>siguenos en whatsapp</label>
                  </div>

            </div>

          <!--Columna 3, información de contacto-->

            <div class="colum3">

                <h1>Información contactos</h1>

                  <div class="row2">
                    <img src="../../media/house.ico">
                    <label>FNSP,UdeA
                    Medellín, Antioquía.</label>
                  </div>

                  <div class="row2">
                    <img src="../../media/cell.ico">
                    <label>+57-311-767-3399</label>
                  </div>

                  <div class="row2">
                    <img src="../../media/mail.ico">
                    <label>alekos0610@gmail.com</label>
                  </div>

            </div>

        </div>

      </div>

        <div class="container-footer">

            <div class="footer">
            
                <div class="copyright">
                  &copy 2019 Todos los derechos reservados |<a href=""> MSIG </a>
                </div>
            
                <div class="information">
                  <a href=""> Información compañia  </a> | <a href=""> Privacidad y politica  </a> | <a href="">  Terminos y condiciones </a>
                </div>

            </div>            
            
        </div>

    </footer>

  </body>

</html>
