<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>form login | one</title>
      <link rel="stylesheet" href="login.css">
    </head>

  <body>
      <div class="login-box">
        <img class="avatar" src="../../media/logo.png" alt="logo de login">
        <h1>Login Here</h1>
        <form>
          <!-- username -->
          <label for="username">username</label>
          <input type="text" placeholder="Enter username">

          <!-- password -->
          <label for="password">password</label>
          <input type="password" placeholder="Enter password"

          <input type="submit" value="log in">

          <a href="#">lost you password?</a><br>
          <a href="#">don´t have a account?</a>
        </  ,m,mb>
      </div>

  </body>
</html>
